body {
  font-family: "Dancing Script", cursive;
  background-color: #02010a;
  margin: 10px;
}
.content  {
  max-width: 900px;
  margin: auto;
}
.cabecera {
  flex-grow: 2;
}
header {
  background-color: #5b7989;
  text-shadow: 2px 2px 2px #02010a;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.Menu a{
  Color: white;
}

#Retratos {
  text-decoration: none;
}
img {
  align-content: center;
}

footer {
  background-color:  #C6d5c5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
article {
margin-left: auto;
margin-right: auto;
}
